In [21]:
from pandas import Series, DataFrame
import numpy as np
import pandas as pd
import datetime

In [38]:
sinsa = 0
gundae = 0
seoulforest = 0
hongdae = 0

In [39]:
df = pd.read_csv('C:\\Users\\Ente_LJS\\Anaconda_src\\Semi_Project_GT\\living_people\\METRO_PEOPLE_201701\\METRO_PEOPLE_20170101.csv', sep=',')

In [40]:
df

,기준일ID,시간대구분,행정동코드,생활인구순위,대도시권거주지코드,총생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,...,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세부터74세생활인구수,여자75세부터79세생활인구수,장기체류외국인수
0,20170101,0,11110515,1,45000,234,*,*,73,48,...,*,*,*,*,*,*,*,*,18,*
1,20170101,0,11110515,2,47000,202,*,12,71,48,...,*,*,*,*,*,*,7,*,*,*
2,20170101,0,11110515,3,43000,158,*,8,43,17,...,*,*,*,6,*,*,*,*,*,*
3,20170101,0,11110515,4,46000,156,*,*,33,26,...,*,*,*,*,4,*,7,*,*,*
4,20170101,0,11110515,5,48000,153,*,*,80,*,...,*,*,10,*,*,*,*,*,*,*
5,20170101,0,11110515,6,27000,143,*,*,*,38,...,*,*,*,*,*,*,*,*,*,*
6,20170101,0,11110515,7,31000,103,*,*,27,23,...,*,*,*,*,*,*,*,*,*,*
7,20170101,0,11110515,8,41281,72,*,5,*,*,...,*,*,*,*,*,*,*,*,*,*
8,20170101,0,11110515,9,29000,68,*,4,*,*,...,*,*,6,*,*,5,*,*,*,*
9,20170101,0,11110515,10,30000,68,*,*,7,4,...,*,*,11,*,4,*,*,*,*,6
10,20170101,0,11110515,11,44000,61,*,*,*,7,...,*,*,4,*,*,*,*,*,*,*
11,20170101,0,11110515,12,41480,53,*,4,*,*,...,*,*,*,*,*,*,5,*,*,*
12,20170101,0,11110515,13,26000,44,*,4,7,*,...,*,*,*,*,*,*,*,*,*,*
13,20170101,0,11110515,14,41570,41,*,*,*,*,...,*,*,*,*,*,*,*,*,*,*
14,20170101,0,11110515,15,41135,36,*,*,*,*,...,6,*,*,*,*,5,*,*,*,*
15,20170101,0,11110515,16,42000,36,*,*,*,*,...,*,*,*,*,4,*,*,4,*,*
16,20170101,0,11110515,17,41285,35,*,*,10,*,...,*,*,*,*,*,*,*,*,*,*
17,20170101,0,11110515,18,41190,34,*,*,7,*,...,*,*,*,*,*,*,*,*,*,*
18,20170101,0,11110515,19,36000,33,*,*,*,*,...,*,*,7,*,*,*,*,*,*,*
19,20170101,0,11110515,20,41131,32,*,*,23,*,...,*,*,*,*,*,*,*,*,*,*
20,20170101,0,11110515,99,99999,586,8,15,45,48,...,24,28,29,5,8,6,9,*,*,*
21,20170101,0,11110530,1,41281,274,*,11,19,7,...,9,15,21,9,10,5,*,*,*,*
22,20170101,0,11110530,2,41190,190,8,*,15,7,...,8,8,*,8,*,*,7,*,*,*
23,20170101,0,11110530,3,45000,171,11,5,11,*,...,12,8,*,*,8,9,*,*,*,19
24,20170101,0,11110530,4,30000,169,*,12,7,20,...,*,7,*,*,12,17,7,*,*,22
25,20170101,0,11110530,5,41135,153,5,4,10,7,...,*,*,*,*,*,5,*,*,*,*
26,20170101,0,11110530,6,44000,153,8,9,20,*,...,*,4,4,*,*,*,*,11,*,14
27,20170101,0,11110530,7,41360,148,5,*,5,15,...,10,*,*,7,*,5,*,11,18,13
28,20170101,0,11110530,8,43000,143,*,8,10,6,...,*,15,*,5,*,*,*,*,*,32
29,20170101,0,11110530,9,41285,142,*,*,5,10,...,7,7,*,*,8,*,*,*,*,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213666,20170101,23,11740690,13,26000,11,*,*,*,*,...,*,*,*,*,*,*,*,*,*,*
213667,20170101,23,11740690,14,41135,8,*,*,*,*,...,*,*,*,*,*,*,*,*,*,*
213668,20170101,23,11740690,15,41800,8,*,*,*,*,...,*,*,*,*,*,*,*,*,*,*
213669,20170101,23,11740690,16,41117,8,*,*,*,*,...,*,*,*,*,*,*,*,*,*,*
213670,20170101,23,11740690,17,41610,7,*,*,*,*,...,*,*,*,*,*,*,*,*,*,*
213671,20170101,23,11740690,18,30000,7,*,*,*,*,...,*,*,*,*,*,*,*,*,*,*
213672,20170101,23,11740690,19,41463,6,*,*,*,*,...,*,*,*,*,*,*,*,*,*,*
213673,20170101,23,11740690,20,41590,5,*,*,*,*,...,*,*,*,*,*,*,*,*,*,*
213674,20170101,23,11740690,99,99999,74,*,*,10,6,...,*,*,*,*,4,9,*,*,*,*
213675,20170101,23,11740700,1,41450,176,*,14,13,14,...,*,*,4,4,*,*,18,*,*,17
213676,20170101,23,11740700,2,42000,117,*,9,24,6,...,*,*,*,*,*,5,14,*,*,*
213677,20170101,23,11740700,3,44000,84,*,7,9,*,...,*,*,*,*,*,*,*,*,*,*
213678,20170101,23,11740700,4,43000,82,*,*,10,6,...,*,*,*,6,5,10,*,6,*,*
213679,20170101,23,11740700,5,41360,76,*,*,*,*,...,4,*,*,*,*,*,7,21,*,*
213680,20170101,23,11740700,6,41150,62,*,*,*,*,...,*,*,*,*,4,*,7,*,17,*
213681,20170101,23,11740700,7,48000,61,*,*,*,*,...,*,*,*,*,*,*,11,*,*,*
213682,20170101,23,11740700,8,47000,52,*,*,10,6,...,*,*,*,*,11,*,*,*,*,*
213683,20170101,23,11740700,9,30000,47,*,4,*,*,...,*,*,*,*,*,5,*,*,*,*
213684,20170101,23,11740700,10,41610,43,*,*,*,*,...,4,*,*,*,*,*,*,*,*,*
213685,20170101,23,11740700,11,41131,39,*,*,*,*,...,*,7,*,*,*,5,*,*,*,*
213686,20170101,23,11740700,12,41830,28,*,*,*,*,...,*,4,*,*,4,*,*,*,*,*
213687,20170101,23,11740700,13,36000,28,*,*,6,*,...,*,*,*,*,*,*,*,*,*,*
213688,20170101,23,11740700,14,45000,27,*,*,5,*,...,*,*,*,*,*,*,*,*,*,*
213689,20170101,23,11740700,15,41220,25,*,*,*,*,...,4,*,*,*,*,*,*,*,*,*
213690,20170101,23,11740700,16,46000,25,*,4,*,*,...,4,*,*,*,*,*,*,*,*,*
213691,20170101,23,11740700,17,41590,24,*,*,*,*,...,*,*,*,*,*,5,*,*,*,*
213692,20170101,23,11740700,18,27000,24,*,4,*,*,...,*,*,*,*,*,*,*,*,*,*
213693,20170101,23,11740700,19,41650,23,*,*,*,*,...,*,*,*,*,*,*,*,*,*,*
213694,20170101,23,11740700,20,41500,21,*,*,*,*,...,*,7,*,*,*,5,*,*,*,*
213695,20170101,23,11740700,99,99999,350,*,*,8,31,...,13,18,8,7,15,9,7,*,*,*

In [41]:
df_temp1 = df.loc[(df['시간대구분'] == 0) & (df['행정동코드']==11620685)]
df_temp1

,기준일ID,시간대구분,행정동코드,생활인구순위,대도시권거주지코드,총생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,...,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세부터74세생활인구수,여자75세부터79세생활인구수,장기체류외국인수
6951,20170101,0,11620685,1,44000,198,*,*,14,13,...,7,6,*,7,*,*,*,*,*,52
6952,20170101,0,11620685,2,41190,131,*,*,4,11,...,7,8,*,4,*,4,*,*,*,18
6953,20170101,0,11620685,3,47000,108,*,*,*,8,...,*,*,12,6,*,*,*,*,8,20
6954,20170101,0,11620685,4,48000,101,*,*,*,6,...,*,*,*,*,*,*,*,*,*,55
6955,20170101,0,11620685,5,43000,94,*,4,7,*,...,4,*,*,*,4,*,*,*,*,44
6956,20170101,0,11620685,6,41590,72,*,4,*,*,...,*,*,*,*,4,*,*,*,*,32
6957,20170101,0,11620685,7,41210,69,*,*,*,*,...,*,*,*,*,*,*,*,6,*,*
6958,20170101,0,11620685,8,41273,67,*,*,*,*,...,*,*,*,*,4,*,*,*,*,50
6959,20170101,0,11620685,9,41390,67,*,*,*,6,...,*,*,*,*,*,*,*,*,*,39
6960,20170101,0,11620685,10,30000,65,5,*,4,5,...,5,*,*,7,*,*,*,*,*,15
6961,20170101,0,11620685,11,26000,61,*,*,*,4,...,5,*,*,*,4,*,*,*,*,15
6962,20170101,0,11620685,12,41220,60,*,*,*,*,...,*,*,*,*,*,*,*,*,10,18
6963,20170101,0,11620685,13,45000,58,*,8,10,5,...,*,*,*,4,*,*,*,*,*,*
6964,20170101,0,11620685,14,28237,56,*,*,*,12,...,*,*,*,*,5,*,4,*,*,*
6965,20170101,0,11620685,15,41287,52,*,*,*,*,...,*,*,*,*,*,*,*,6,*,19
6966,20170101,0,11620685,16,46000,47,*,*,4,5,...,*,*,*,10,*,*,*,*,*,*
6967,20170101,0,11620685,17,41463,46,*,*,*,*,...,*,*,*,*,*,*,*,*,*,10
6968,20170101,0,11620685,18,31000,44,*,*,*,*,...,*,*,*,*,4,*,22,*,*,*
6969,20170101,0,11620685,19,41135,44,*,*,*,6,...,*,5,*,*,*,*,*,*,*,10
6970,20170101,0,11620685,20,42000,38,*,*,*,*,...,*,*,*,*,4,*,7,*,*,*
6971,20170101,0,11620685,99,99999,820,5,6,44,60,...,30,28,30,46,14,4,10,10,*,203

In [38]:
np.sum(df_temp1['총생활인구수'],axis=0)

2298

In [24]:
df_temp = df.loc[(df['행정동코드']==11620685)]
df_temp

,기준일ID,시간대구분,행정동코드,생활인구순위,대도시권거주지코드,총생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,...,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세부터74세생활인구수,여자75세부터79세생활인구수,장기체류외국인수
6951,20170101,0,11620685,1,44000,198,*,*,14,13,...,7,6,*,7,*,*,*,*,*,52
6952,20170101,0,11620685,2,41190,131,*,*,4,11,...,7,8,*,4,*,4,*,*,*,18
6953,20170101,0,11620685,3,47000,108,*,*,*,8,...,*,*,12,6,*,*,*,*,8,20
6954,20170101,0,11620685,4,48000,101,*,*,*,6,...,*,*,*,*,*,*,*,*,*,55
6955,20170101,0,11620685,5,43000,94,*,4,7,*,...,4,*,*,*,4,*,*,*,*,44
6956,20170101,0,11620685,6,41590,72,*,4,*,*,...,*,*,*,*,4,*,*,*,*,32
6957,20170101,0,11620685,7,41210,69,*,*,*,*,...,*,*,*,*,*,*,*,6,*,*
6958,20170101,0,11620685,8,41273,67,*,*,*,*,...,*,*,*,*,4,*,*,*,*,50
6959,20170101,0,11620685,9,41390,67,*,*,*,6,...,*,*,*,*,*,*,*,*,*,39
6960,20170101,0,11620685,10,30000,65,5,*,4,5,...,5,*,*,7,*,*,*,*,*,15
6961,20170101,0,11620685,11,26000,61,*,*,*,4,...,5,*,*,*,4,*,*,*,*,15
6962,20170101,0,11620685,12,41220,60,*,*,*,*,...,*,*,*,*,*,*,*,*,10,18
6963,20170101,0,11620685,13,45000,58,*,8,10,5,...,*,*,*,4,*,*,*,*,*,*
6964,20170101,0,11620685,14,28237,56,*,*,*,12,...,*,*,*,*,5,*,4,*,*,*
6965,20170101,0,11620685,15,41287,52,*,*,*,*,...,*,*,*,*,*,*,*,6,*,19
6966,20170101,0,11620685,16,46000,47,*,*,4,5,...,*,*,*,10,*,*,*,*,*,*
6967,20170101,0,11620685,17,41463,46,*,*,*,*,...,*,*,*,*,*,*,*,*,*,10
6968,20170101,0,11620685,18,31000,44,*,*,*,*,...,*,*,*,*,4,*,22,*,*,*
6969,20170101,0,11620685,19,41135,44,*,*,*,6,...,*,5,*,*,*,*,*,*,*,10
6970,20170101,0,11620685,20,42000,38,*,*,*,*,...,*,*,*,*,4,*,7,*,*,*
6971,20170101,0,11620685,99,99999,820,5,6,44,60,...,30,28,30,46,14,4,10,10,*,203
15855,20170101,1,11620685,1,44000,198,*,*,11,13,...,9,6,*,7,*,*,*,*,*,47
15856,20170101,1,11620685,2,47000,115,*,*,10,5,...,*,*,12,6,*,*,*,*,15,20
15857,20170101,1,11620685,3,48000,100,*,*,*,6,...,*,*,*,*,*,*,*,*,*,54
15858,20170101,1,11620685,4,41190,97,*,*,*,7,...,11,11,*,*,*,4,*,*,*,*
15859,20170101,1,11620685,5,43000,94,*,4,5,*,...,4,*,*,*,4,*,*,*,*,44
15860,20170101,1,11620685,6,41590,76,*,4,*,*,...,*,*,*,*,4,*,*,*,*,31
15861,20170101,1,11620685,7,41390,66,*,*,*,6,...,*,*,*,*,*,*,*,*,*,39
15862,20170101,1,11620685,8,26000,65,*,*,*,4,...,5,*,*,*,4,*,*,*,*,15
15863,20170101,1,11620685,9,41220,63,*,*,*,*,...,*,*,*,*,*,*,*,*,10,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202851,20170101,22,11620685,13,28245,31,*,*,*,*,...,*,*,*,*,*,*,*,*,10,*
202852,20170101,22,11620685,14,31000,30,*,*,*,*,...,*,5,*,*,*,*,7,*,*,*
202853,20170101,22,11620685,15,42000,30,*,*,5,*,...,*,*,*,*,*,5,7,*,*,*
202854,20170101,22,11620685,16,28237,29,*,*,*,5,...,*,*,*,*,*,*,*,*,*,*
202855,20170101,22,11620685,17,41150,25,*,*,*,*,...,*,*,*,*,4,*,*,*,*,*
202856,20170101,22,11620685,18,46000,24,*,*,7,*,...,*,*,*,*,*,*,*,*,*,*
202857,20170101,22,11620685,19,41463,24,*,*,*,*,...,*,*,*,*,*,*,7,*,*,*
202858,20170101,22,11620685,20,41281,21,*,*,*,*,...,*,*,*,*,*,*,*,*,*,*
202859,20170101,22,11620685,99,99999,484,9,*,43,34,...,19,9,7,8,10,*,8,10,*,84
211743,20170101,23,11620685,1,44000,114,*,6,8,*,...,7,*,*,*,4,*,*,*,*,35
211744,20170101,23,11620685,2,48000,110,*,*,6,*,...,*,*,*,7,*,*,7,*,*,50
211745,20170101,23,11620685,3,41590,65,*,4,*,*,...,*,*,*,*,*,*,*,*,*,45
211746,20170101,23,11620685,4,47000,60,*,*,*,*,...,*,*,6,*,*,*,*,*,*,13
211747,20170101,23,11620685,5,42000,50,*,*,11,*,...,*,*,*,*,*,5,7,*,*,*
211748,20170101,23,11620685,6,43000,50,*,4,*,*,...,*,*,*,*,4,*,*,*,*,16
211749,20170101,23,11620685,7,41390,50,*,*,*,4,...,*,*,*,*,*,*,*,*,*,31
211750,20170101,23,11620685,8,41210,48,*,6,5,*,...,*,*,*,*,*,*,4,*,*,*
211751,20170101,23,11620685,9,41190,38,*,*,*,*,...,*,*,*,*,*,*,*,*,*,13
211752,20170101,23,11620685,10,45000,37,*,*,10,4,...,*,*,*,*,*,*,*,*,*,*
211753,20170101,23,11620685,11,26000,35,*,*,*,*,...,5,*,*,5,*,*,*,*,*,13
211754,20170101,23,11620685,12,30000,33,5,*,*,6,...,*,*,*,4,5,*,*,*,*,*
211755,20170101,23,11620685,13,31000,32,*,*,*,*,...,*,6,*,*,*,*,15,*,*,*
211756,20170101,23,11620685,14,46000,29,*,*,4,*,...,*,*,*,*,4,*,*,*,*,*
211757,20170101,23,11620685,15,27000,27,*,*,7,5,...,*,*,*,*,*,*,*,*,*,*
211758,20170101,23,11620685,16,41150,26,*,*,*,*,...,*,*,*,*,4,*,*,*,*,*
211759,20170101,23,11620685,17,36000,26,*,*,*,*,...,*,*,*,*,*,*,*,*,*,17
211760,20170101,23,11620685,18,41281,24,4,*,*,*,...,*,*,*,*,*,*,*,*,*,*
211761,20170101,23,11620685,19,29000,21,*,*,*,6,...,*,*,*,*,4,*,*,*,*,*
211762,20170101,23,11620685,20,28237,19,*,*,*,*,...,*,*,*,*,*,*,4,*,*,*
211763,20170101,23,11620685,99,99999,357,*,9,24,32,...,5,12,*,*,4,*,14,10,*,65

In [32]:
sinsa += np.sum(df_temp['총생활인구수'],axis=0)

In [35]:
sinsa

53755

In [39]:
gundae += np.sum(df.loc[(df['행정동코드']==11215710)]['총생활인구수'],axis=0)

In [40]:
gundae

108226

In [42]:
seoulforest += np.sum(df.loc[(df['행정동코드']==11200660)]['총생활인구수'],axis=0)
hongdae += np.sum(df.loc[(df['행정동코드']==11440660)]['총생활인구수'],axis=0)

In [43]:
hongdae

363473

In [44]:
df = pd.read_csv('C:\\Users\\Ente_LJS\\Anaconda_src\\Semi_Project_GT\\living_people\\METRO_PEOPLE_201701\\METRO_PEOPLE_20170102.csv', sep=',')

In [45]:
sinsa += np.sum(df.loc[(df['행정동코드']==11620685)]['총생활인구수'],axis=0)
gundae += np.sum(df.loc[(df['행정동코드']==11215710)]['총생활인구수'],axis=0)
seoulforest += np.sum(df.loc[(df['행정동코드']==11200660)]['총생활인구수'],axis=0)
hongdae += np.sum(df.loc[(df['행정동코드']==11440660)]['총생활인구수'],axis=0)

In [58]:
def live_people_28(date):
    i=1
    sinsa = 0
    gundae = 0
    seoulforest = 0
    hongdae = 0
    while i<29:
        if i<10:
            df = pd.read_csv('C:\\Users\\Ente_LJS\\Anaconda_src\\Semi_Project_GT\\living_people\\METRO_PEOPLE_{0}\\METRO_PEOPLE_{1}0{2}.csv'.format(date,date,i), sep=',')
            sinsa += np.sum(df.loc[(df['행정동코드']==11680510)]['총생활인구수'],axis=0)
            gundae += np.sum(df.loc[(df['행정동코드']==11215710)]['총생활인구수'],axis=0)
            seoulforest += np.sum(df.loc[(df['행정동코드']==11200660)]['총생활인구수'],axis=0)
            hongdae += np.sum(df.loc[(df['행정동코드']==11440660)]['총생활인구수'],axis=0)
        else:
            df = pd.read_csv('C:\\Users\\Ente_LJS\\Anaconda_src\\Semi_Project_GT\\living_people\\METRO_PEOPLE_{0}\\METRO_PEOPLE_{1}{2}.csv'.format(date,date,i), sep=',')
            sinsa += np.sum(df.loc[(df['행정동코드']==11680510)]['총생활인구수'],axis=0)
            gundae += np.sum(df.loc[(df['행정동코드']==11215710)]['총생활인구수'],axis=0)
            seoulforest += np.sum(df.loc[(df['행정동코드']==11200660)]['총생활인구수'],axis=0)
            hongdae += np.sum(df.loc[(df['행정동코드']==11440660)]['총생활인구수'],axis=0)
        i= i+1
    df_temp = Series([sinsa, gundae,seoulforest, hongdae])
    return df_temp

In [59]:
def live_people_30(date):
    i=1
    sinsa = 0
    gundae = 0
    seoulforest = 0
    hongdae = 0
    while i<31:
        if i<10:
            df = pd.read_csv('C:\\Users\\Ente_LJS\\Anaconda_src\\Semi_Project_GT\\living_people\\METRO_PEOPLE_{0}\\METRO_PEOPLE_{1}0{2}.csv'.format(date,date,i), sep=',')
            sinsa += np.sum(df.loc[(df['행정동코드']==11680510)]['총생활인구수'],axis=0)
            gundae += np.sum(df.loc[(df['행정동코드']==11215710)]['총생활인구수'],axis=0)
            seoulforest += np.sum(df.loc[(df['행정동코드']==11200660)]['총생활인구수'],axis=0)
            hongdae += np.sum(df.loc[(df['행정동코드']==11440660)]['총생활인구수'],axis=0)
        else:
            df = pd.read_csv('C:\\Users\\Ente_LJS\\Anaconda_src\\Semi_Project_GT\\living_people\\METRO_PEOPLE_{0}\\METRO_PEOPLE_{1}{2}.csv'.format(date,date,i), sep=',')
            sinsa += np.sum(df.loc[(df['행정동코드']==11680510)]['총생활인구수'],axis=0)
            gundae += np.sum(df.loc[(df['행정동코드']==11215710)]['총생활인구수'],axis=0)
            seoulforest += np.sum(df.loc[(df['행정동코드']==11200660)]['총생활인구수'],axis=0)
            hongdae += np.sum(df.loc[(df['행정동코드']==11440660)]['총생활인구수'],axis=0)
        i= i+1
    df_temp = Series([sinsa, gundae,seoulforest, hongdae])
    return df_temp

In [60]:
def live_people_31(date):
    i=1
    sinsa = 0
    gundae = 0
    seoulforest = 0
    hongdae = 0
    while i<32:
        if i<10:
            df = pd.read_csv('C:\\Users\\Ente_LJS\\Anaconda_src\\Semi_Project_GT\\living_people\\METRO_PEOPLE_{0}\\METRO_PEOPLE_{1}0{2}.csv'.format(date,date,i), sep=',')
            sinsa += np.sum(df.loc[(df['행정동코드']==11680510)]['총생활인구수'],axis=0)
            gundae += np.sum(df.loc[(df['행정동코드']==11215710)]['총생활인구수'],axis=0)
            seoulforest += np.sum(df.loc[(df['행정동코드']==11200660)]['총생활인구수'],axis=0)
            hongdae += np.sum(df.loc[(df['행정동코드']==11440660)]['총생활인구수'],axis=0)
        else:
            df = pd.read_csv('C:\\Users\\Ente_LJS\\Anaconda_src\\Semi_Project_GT\\living_people\\METRO_PEOPLE_{0}\\METRO_PEOPLE_{1}{2}.csv'.format(date,date,i), sep=',')
            sinsa += np.sum(df.loc[(df['행정동코드']==11680510)]['총생활인구수'],axis=0)
            gundae += np.sum(df.loc[(df['행정동코드']==11215710)]['총생활인구수'],axis=0)
            seoulforest += np.sum(df.loc[(df['행정동코드']==11200660)]['총생활인구수'],axis=0)
            hongdae += np.sum(df.loc[(df['행정동코드']==11440660)]['총생활인구수'],axis=0)
        i= i+1
    df_temp = Series([sinsa, gundae,seoulforest, hongdae])
    return df_temp

In [65]:
def live_people_23(date):
    i=1
    sinsa = 0
    gundae = 0
    seoulforest = 0
    hongdae = 0
    while i<24:
        if i<10:
            df = pd.read_csv('C:\\Users\\Ente_LJS\\Anaconda_src\\Semi_Project_GT\\living_people\\METRO_PEOPLE_{0}\\METRO_PEOPLE_{1}0{2}.csv'.format(date,date,i), sep=',')
            sinsa += np.sum(df.loc[(df['행정동코드']==11680510)]['총생활인구수'],axis=0)
            gundae += np.sum(df.loc[(df['행정동코드']==11215710)]['총생활인구수'],axis=0)
            seoulforest += np.sum(df.loc[(df['행정동코드']==11200660)]['총생활인구수'],axis=0)
            hongdae += np.sum(df.loc[(df['행정동코드']==11440660)]['총생활인구수'],axis=0)
        else:
            df = pd.read_csv('C:\\Users\\Ente_LJS\\Anaconda_src\\Semi_Project_GT\\living_people\\METRO_PEOPLE_{0}\\METRO_PEOPLE_{1}{2}.csv'.format(date,date,i), sep=',')
            sinsa += np.sum(df.loc[(df['행정동코드']==11680510)]['총생활인구수'],axis=0)
            gundae += np.sum(df.loc[(df['행정동코드']==11215710)]['총생활인구수'],axis=0)
            seoulforest += np.sum(df.loc[(df['행정동코드']==11200660)]['총생활인구수'],axis=0)
            hongdae += np.sum(df.loc[(df['행정동코드']==11440660)]['총생활인구수'],axis=0)
        i= i+1
    df_temp = Series([sinsa, gundae,seoulforest, hongdae])
    return df_temp

In [36]:
lp_201701 = live_people_28(201701)

In [37]:
lp_201701

0     1229873
1     3122534
2     1402878
3    10419960
dtype: int64

In [61]:
lp_201701 = live_people_31(201701)
lp_201702 = live_people_28(201702)
lp_201703 = live_people_31(201703)
lp_201704 = live_people_30(201704)
lp_201705 = live_people_31(201705)
lp_201706 = live_people_30(201706)
lp_201707 = live_people_31(201707)
lp_201708 = live_people_31(201708)
lp_201709 = live_people_30(201709)
lp_201710 = live_people_31(201710)
lp_201711 = live_people_30(201711)
lp_201712 = live_people_31(201712)

C:\Python\Anaconda3_5.2\lib\site-packages\IPython\core\interactiveshell.py:2903: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [62]:
lp_201801 = live_people_31(201801)
lp_201802 = live_people_28(201802)
lp_201803 = live_people_31(201803)
lp_201804 = live_people_30(201804)
lp_201805 = live_people_31(201805)
lp_201806 = live_people_30(201806)
lp_201807 = live_people_31(201807)
lp_201808 = live_people_31(201808)
lp_201809 = live_people_30(201809)
lp_201810 = live_people_31(201810)

FileNotFoundError: File b'C:\\Users\\Ente_LJS\\Anaconda_src\\Semi_Project_GT\\living_people\\METRO_PEOPLE_201811\\METRO_PEOPLE_20181124.csv' does not exist

In [66]:
lp_201811 = live_people_23(201811)

In [77]:
lp_201811

0    3177138
1    2436416
2    1054950
3    7088556
dtype: int64

In [ ]:
def month_sum(ar1,ar2,ar3,ar4,ar5,ar6,ar7,ar8,ar9,ar10,ar11,ar12):
    i=0
    for i in range(11):
        
        
        
list_of_series = [pd.Series([1,2],index=['a','b']), pd.Series([3,4],index=['a','c'])]
df = pd.concat(list_of_series, axis=1).transpose()

In [82]:
list_of_series = [lp_201701,lp_201702,lp_201703,lp_201704,lp_201705,lp_201706,lp_201707,lp_201708,lp_201709,
                  lp_201710,lp_201711,lp_201712,lp_201801,lp_201802,lp_201803,lp_201804,lp_201805,lp_201806,
                 lp_201807,lp_201808,lp_201809,lp_201810,lp_201811]
Metro_People = pd.concat(list_of_series,axis=1).transpose()

In [102]:
Metro_People = Metro_People.rename(index=str, columns={0: "신사동", 1: "화양동", 2:"성수1동", 3:"서교동"})

In [106]:
Metro_People["월"] = [201701,201702,201703,201704,201705,201706,201707,201708,201709,201710,
              201711,201712,201801,201802,201803,201804,201805,201806,201807,201808,
              201809,201810,201811]

In [108]:
Metro_People.set_index('월', inplace=True)

In [109]:
Metro_People

            신사동      화양동     성수1동       서교동
월
201701  4395485  3409197  1522234  11429897
201702  4415745  3504366  1482858  11610838
201703  4321961  5071545  1592144  10832684
201704  3822312  3598649  1568431  10242702
201705  3563443  3556591  1492480  10782348
201706  3736492  3271751  1485294   9641356
201707  4467981  3146151  1514091  10733759
201708  5075885  3476963  1587721  11297339
201709  5325919  4223769  1631187  10400857
201710  4781312  3195602  1480287  10181927
201711  4510940  3199014  1492933   9152718
201712  4761567  3476541  1528368  11499329
201801  4688005  3368043  1641981  11169509
201802  3706345  2926308  1427224   9462754
201803  4081202  4752986  1552923  10466113
201804  4077578  3524853  1479022   9424103
201805  4065362  3472804  1563960  10320397
201806  3984779  3146900  1401437   9502440
201807  4378917  3186338  1531755  10417826
201808  4173671  3343186  1438868  10519026
201809  3641783  3460382  1306474   9243997
201810  3965317  3064427  1423457   9184990
201811  3177138  2436416  1054950   7088556

# Local People 정리

In [114]:
def live_people_28(date):
    i=1
    sinsa = 0
    gundae = 0
    seoulforest = 0
    hongdae = 0
    while i<29:
        if i<10:
            df = pd.read_csv('C:\\Users\\Ente_LJS\\Anaconda_src\\Semi_Project_GT\\living_people\\LOCAL_PEOPLE_{0}\\LOCAL_PEOPLE_{1}0{2}.csv'.format(date,date,i), sep=',')
            sinsa += np.sum(df.loc[(df['행정동코드']==11680510)]['총생활인구수'],axis=0)
            gundae += np.sum(df.loc[(df['행정동코드']==11215710)]['총생활인구수'],axis=0)
            seoulforest += np.sum(df.loc[(df['행정동코드']==11200660)]['총생활인구수'],axis=0)
            hongdae += np.sum(df.loc[(df['행정동코드']==11440660)]['총생활인구수'],axis=0)
        else:
            df = pd.read_csv('C:\\Users\\Ente_LJS\\Anaconda_src\\Semi_Project_GT\\living_people\\LOCAL_PEOPLE_{0}\\LOCAL_PEOPLE_{1}{2}.csv'.format(date,date,i), sep=',')
            sinsa += np.sum(df.loc[(df['행정동코드']==11680510)]['총생활인구수'],axis=0)
            gundae += np.sum(df.loc[(df['행정동코드']==11215710)]['총생활인구수'],axis=0)
            seoulforest += np.sum(df.loc[(df['행정동코드']==11200660)]['총생활인구수'],axis=0)
            hongdae += np.sum(df.loc[(df['행정동코드']==11440660)]['총생활인구수'],axis=0)
        i= i+1
    df_temp = Series([sinsa, gundae,seoulforest, hongdae])
    return df_temp

In [115]:
def live_people_30(date):
    i=1
    sinsa = 0
    gundae = 0
    seoulforest = 0
    hongdae = 0
    while i<31:
        if i<10:
            df = pd.read_csv('C:\\Users\\Ente_LJS\\Anaconda_src\\Semi_Project_GT\\living_people\\LOCAL_PEOPLE_{0}\\LOCAL_PEOPLE_{1}0{2}.csv'.format(date,date,i), sep=',')
            sinsa += np.sum(df.loc[(df['행정동코드']==11680510)]['총생활인구수'],axis=0)
            gundae += np.sum(df.loc[(df['행정동코드']==11215710)]['총생활인구수'],axis=0)
            seoulforest += np.sum(df.loc[(df['행정동코드']==11200660)]['총생활인구수'],axis=0)
            hongdae += np.sum(df.loc[(df['행정동코드']==11440660)]['총생활인구수'],axis=0)
        else:
            df = pd.read_csv('C:\\Users\\Ente_LJS\\Anaconda_src\\Semi_Project_GT\\living_people\\LOCAL_PEOPLE_{0}\\LOCAL_PEOPLE_{1}{2}.csv'.format(date,date,i), sep=',')
            sinsa += np.sum(df.loc[(df['행정동코드']==11680510)]['총생활인구수'],axis=0)
            gundae += np.sum(df.loc[(df['행정동코드']==11215710)]['총생활인구수'],axis=0)
            seoulforest += np.sum(df.loc[(df['행정동코드']==11200660)]['총생활인구수'],axis=0)
            hongdae += np.sum(df.loc[(df['행정동코드']==11440660)]['총생활인구수'],axis=0)
        i= i+1
    df_temp = Series([sinsa, gundae,seoulforest, hongdae])
    return df_temp

In [116]:
def live_people_31(date):
    i=1
    sinsa = 0
    gundae = 0
    seoulforest = 0
    hongdae = 0
    while i<32:
        if i<10:
            df = pd.read_csv('C:\\Users\\Ente_LJS\\Anaconda_src\\Semi_Project_GT\\living_people\\LOCAL_PEOPLE_{0}\\LOCAL_PEOPLE_{1}0{2}.csv'.format(date,date,i), sep=',')
            sinsa += np.sum(df.loc[(df['행정동코드']==11680510)]['총생활인구수'],axis=0)
            gundae += np.sum(df.loc[(df['행정동코드']==11215710)]['총생활인구수'],axis=0)
            seoulforest += np.sum(df.loc[(df['행정동코드']==11200660)]['총생활인구수'],axis=0)
            hongdae += np.sum(df.loc[(df['행정동코드']==11440660)]['총생활인구수'],axis=0)
        else:
            df = pd.read_csv('C:\\Users\\Ente_LJS\\Anaconda_src\\Semi_Project_GT\\living_people\\LOCAL_PEOPLE_{0}\\LOCAL_PEOPLE_{1}{2}.csv'.format(date,date,i), sep=',')
            sinsa += np.sum(df.loc[(df['행정동코드']==11680510)]['총생활인구수'],axis=0)
            gundae += np.sum(df.loc[(df['행정동코드']==11215710)]['총생활인구수'],axis=0)
            seoulforest += np.sum(df.loc[(df['행정동코드']==11200660)]['총생활인구수'],axis=0)
            hongdae += np.sum(df.loc[(df['행정동코드']==11440660)]['총생활인구수'],axis=0)
        i= i+1
    df_temp = Series([sinsa, gundae,seoulforest, hongdae])
    return df_temp

In [117]:
def live_people_23(date):
    i=1
    sinsa = 0
    gundae = 0
    seoulforest = 0
    hongdae = 0
    while i<24:
        if i<10:
            df = pd.read_csv('C:\\Users\\Ente_LJS\\Anaconda_src\\Semi_Project_GT\\living_people\\LOCAL_PEOPLE_{0}\\LOCAL_PEOPLE_{1}0{2}.csv'.format(date,date,i), sep=',')
            sinsa += np.sum(df.loc[(df['행정동코드']==11680510)]['총생활인구수'],axis=0)
            gundae += np.sum(df.loc[(df['행정동코드']==11215710)]['총생활인구수'],axis=0)
            seoulforest += np.sum(df.loc[(df['행정동코드']==11200660)]['총생활인구수'],axis=0)
            hongdae += np.sum(df.loc[(df['행정동코드']==11440660)]['총생활인구수'],axis=0)
        else:
            df = pd.read_csv('C:\\Users\\Ente_LJS\\Anaconda_src\\Semi_Project_GT\\living_people\\LOCAL_PEOPLE_{0}\\LOCAL_PEOPLE_{1}{2}.csv'.format(date,date,i), sep=',')
            sinsa += np.sum(df.loc[(df['행정동코드']==11680510)]['총생활인구수'],axis=0)
            gundae += np.sum(df.loc[(df['행정동코드']==11215710)]['총생활인구수'],axis=0)
            seoulforest += np.sum(df.loc[(df['행정동코드']==11200660)]['총생활인구수'],axis=0)
            hongdae += np.sum(df.loc[(df['행정동코드']==11440660)]['총생활인구수'],axis=0)
        i= i+1
    df_temp = Series([sinsa, gundae,seoulforest, hongdae])
    return df_temp

In [120]:
lop_201701 = live_people_31(201701)
lop_201702 = live_people_28(201702)
lop_201703 = live_people_31(201703)
lop_201704 = live_people_30(201704)
lop_201705 = live_people_31(201705)
lop_201706 = live_people_30(201706)
lop_201707 = live_people_31(201707)
lop_201708 = live_people_31(201708)
lop_201709 = live_people_30(201709)
lop_201710 = live_people_31(201710)
lop_201711 = live_people_30(201711)
lop_201712 = live_people_31(201712)

C:\Python\Anaconda3_5.2\lib\site-packages\IPython\core\interactiveshell.py:2903: DtypeWarning: Columns (5,6,8,9,10,11,12,13,14,15,16,17,18,19,22,23,24,25,26,27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [122]:
lop_201712

0    32065150
1    33888723
2    16933703
3    67316217
dtype: int64

In [124]:
lop_201801 = live_people_31(201801)
lop_201802 = live_people_28(201802)
lop_201803 = live_people_31(201803)
lop_201804 = live_people_30(201804)
lop_201805 = live_people_31(201805)
lop_201806 = live_people_30(201806)
lop_201807 = live_people_31(201807)
lop_201808 = live_people_31(201808)
lop_201809 = live_people_30(201809)
lop_201810 = live_people_31(201810)
lop_201811 = live_people_23(201811)

C:\Python\Anaconda3_5.2\lib\site-packages\IPython\core\interactiveshell.py:2903: DtypeWarning: Columns (7,28,29,30,32) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
C:\Python\Anaconda3_5.2\lib\site-packages\IPython\core\interactiveshell.py:2903: DtypeWarning: Columns (18,29,32) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
C:\Python\Anaconda3_5.2\lib\site-packages\IPython\core\interactiveshell.py:2903: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
C:\Python\Anaconda3_5.2\lib\site-packages\IPython\core\interactiveshell.py:2903: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [127]:
lop_201804

0    29119794.0
1    34706494.0
2    16267933.0
3    61433494.0
dtype: float64

In [141]:
list_of_series = [lop_201701,lop_201702,lop_201703,lop_201704,lop_201705,lop_201706,lop_201707,lop_201708,lop_201709,
                  lop_201710,lop_201711,lop_201712,lop_201801,lop_201802,lop_201803,lop_201804,lop_201805,lop_201806,
                 lop_201807,lop_201808,lop_201809,lop_201810,lop_201811]
Local_People = pd.concat(list_of_series,axis=1).transpose()

In [129]:
Local_People

             0           1           2           3
0   30096291.0  30163148.0  16690053.0  66356885.0
1   29271951.0  28843598.0  15905245.0  64059128.0
2   31249938.0  34707787.0  17875910.0  66766923.0
3   27275407.0  32737206.0  16925585.0  64501117.0
4   27692958.0  33727899.0  17468950.0  69601072.0
5   28231278.0  32156655.0  17168619.0  64604490.0
6   32079668.0  30762543.0  17185436.0  66066140.0
7   34440782.0  30574493.0  17053119.0  65172589.0
8   35138160.0  32122188.0  17115650.0  62224730.0
9   33012860.0  31836436.0  16497077.0  62288303.0
10  32138663.0  33739132.0  16964774.0  62001186.0
11  32065150.0  33888723.0  16933703.0  67316217.0
12  31245293.0  31805668.0  17443994.0  65396269.0
13  26406054.0  27660033.0  15436951.0  55825922.0
14  30402279.0  35845724.0  17868992.0  65780307.0
15  29119794.0  34706494.0  16267933.0  61433494.0
16  29442552.0  35584623.0  16582032.0  65267390.0
17  29624008.0  33169616.0  15787055.0  62432636.0
18  31264846.0  31458211.0  16086562.0  62974283.0
19  30169975.0  31135078.0  14996540.0  62368672.0
20  27813160.0  30511762.0  14470017.0  58313428.0
21  29665212.0  33076637.0  15714041.0  60942863.0
22  22765374.0  24590857.0  11427912.0  44855567.0

In [142]:
Local_People = Local_People.rename(index=str, columns={0: "신사동l", 1: "화양동l", 2:"성수1동l", 3:"서교동l"})

In [143]:
Local_People["월"] = [201701,201702,201703,201704,201705,201706,201707,201708,201709,201710,
              201711,201712,201801,201802,201803,201804,201805,201806,201807,201808,
              201809,201810,201811]

In [144]:
Local_People.set_index('월', inplace=True)

In [145]:
Local_People['신사동l'] = Local_People['신사동l'].astype("int")
Local_People['화양동l'] = Local_People['화양동l'].astype("int")
Local_People['성수1동l'] = Local_People['성수1동l'].astype("int")
Local_People['서교동l'] = Local_People['서교동l'].astype("int")

In [146]:
Local_People

            신사동l      화양동l     성수1동l      서교동l
월
201701  30096291  30163148  16690053  66356885
201702  29271951  28843598  15905245  64059128
201703  31249938  34707787  17875910  66766923
201704  27275407  32737206  16925585  64501117
201705  27692958  33727899  17468950  69601072
201706  28231278  32156655  17168619  64604490
201707  32079668  30762543  17185436  66066140
201708  34440782  30574493  17053119  65172589
201709  35138160  32122188  17115650  62224730
201710  33012860  31836436  16497077  62288303
201711  32138663  33739132  16964774  62001186
201712  32065150  33888723  16933703  67316217
201801  31245293  31805668  17443994  65396269
201802  26406054  27660033  15436951  55825922
201803  30402279  35845724  17868992  65780307
201804  29119794  34706494  16267933  61433494
201805  29442552  35584623  16582032  65267390
201806  29624008  33169616  15787055  62432636
201807  31264846  31458211  16086562  62974283
201808  30169975  31135078  14996540  62368672
201809  27813160  30511762  14470017  58313428
201810  29665212  33076637  15714041  60942863
201811  22765374  24590857  11427912  44855567

In [147]:
People_final = pd.concat([Metro_People,Local_People],axis=1)

In [151]:
People_final['가로수길']=People_final['신사동']+People_final['신사동l']
People_final['건대']=People_final['화양동']+People_final['화양동l']
People_final['서울숲']=People_final['성수1동']+People_final['성수1동l']
People_final['홍대']=People_final['서교동']+People_final['서교동l']

In [155]:
People_final = People_final.drop(['신사동','화양동','성수1동','서교동','신사동l','화양동l','성수1동l','서교동l'],1)

In [156]:
People_final

            가로수길        건대       서울숲        홍대
월
201701  34491776  33572345  18212287  77786782
201702  33687696  32347964  17388103  75669966
201703  35571899  39779332  19468054  77599607
201704  31097719  36335855  18494016  74743819
201705  31256401  37284490  18961430  80383420
201706  31967770  35428406  18653913  74245846
201707  36547649  33908694  18699527  76799899
201708  39516667  34051456  18640840  76469928
201709  40464079  36345957  18746837  72625587
201710  37794172  35032038  17977364  72470230
201711  36649603  36938146  18457707  71153904
201712  36826717  37365264  18462071  78815546
201801  35933298  35173711  19085975  76565778
201802  30112399  30586341  16864175  65288676
201803  34483481  40598710  19421915  76246420
201804  33197372  38231347  17746955  70857597
201805  33507914  39057427  18145992  75587787
201806  33608787  36316516  17188492  71935076
201807  35643763  34644549  17618317  73392109
201808  34343646  34478264  16435408  72887698
201809  31454943  33972144  15776491  67557425
201810  33630529  36141064  17137498  70127853
201811  25942512  27027273  12482862  51944123

In [158]:
People_final.to_csv('C:\\Users\\Ente_LJS\\Anaconda_src\\Semi_Project_GT\\Living_People_final.csv', sep=',', encoding='euc-kr')